﻿<style>
    .close-mark { top: 17px; float: left; right: 2px; position: absolute; }
</style>

<div ng-controller="sidenavController" ng-cloak>
    
    <div class="lock-size speed-dial" layout="row" layout-align="center center">
        <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}"
                           ng-class="selectedMode">
            <md-fab-trigger>
                <md-button class="md-fab md-warn">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                class="fab-tooltip fab-tooltip1">
                        <span translate=".SelectSection">Select section</span>
                    </md-tooltip>
                    <div><img src="../../images/plus.png" width="20" height="20"></div>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Section" class="md-fab md-raised md-mini"
                           ng-click="toggleSidebar(sectionsList[0].id,sectionsList[0].name)">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                class="fab-tooltip">
                        <span translate=".Section">Section</span>A
                    </md-tooltip>A
                </md-button>
                <md-button aria-label="Section" class="md-fab md-raised md-mini"
                           ng-click="toggleSidebar(sectionsList[1].id,sectionsList[1].name)">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                class="fab-tooltip">
                        <span translate=".Section">Section</span>B
                    </md-tooltip>B
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <div>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools" translate=".Categories">Categories</h1>
                <i class="material-icons close-mark" ng-click="close()">clear</i>
            </md-toolbar>
            <md-progress-circular md-diameter="96" md-mode="{{progressMode}}"></md-progress-circular>
            <md-content layout-padding>
                <form>
                    <md-list-item ng-repeat="category in sectionCategories" class="md-primary md-raised" flex-sm="100" flex-md="100" flex-gt-md="auto" ng-click="addPost($event,category.id)">
                        <img alt="{{ category.name }}" ng-src="{{ category.image }}" class="md-avatar" />
                        <p>{{ category.name }}</p>

                    </md-list-item>
                </form>
            </md-content>
        </md-sidenav>
    </div>
</div>