﻿<div ng-controller="busDetails">
    
    <md-toolbar class="toolbarcolor" >
        <div class="md-toolbar-tools">
            <!--<md-button aria-label="Go Back">
                Go Back
            </md-button>-->
            <h2>
                <span>Bus Details</span>
            </h2>
            <span flex></span>
           
            <md-button class="md-fab md-mini" aria-label="Favorite">
                <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
                <div id="circle2" class="button" ng-click="addBus()">Add</div> 
            </md-button>
        </div>
    </md-toolbar>

    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table">
                 <thead>
                     <tr class="info">
                       
                         <th>Bus Number</th>
                         <th>Driver Name</th>
                         <th>Route</th>
                         <th>Actions</th>
                     </tr>

                 </thead>
                <tbody>
                    <tr>
                        
                        <td>Bus Name</td>
                        <td>Driver Name</td>
                        <td>Route</td>
                        <td>

                            <i class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-edit" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addBusStudent()" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                    <tr>
                        
                        <td>Bus Name</td>
                        <td>Driver Name</td>
                        <td>Route</td>
                        <td>

                            <i class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-edit" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addBusStudent()" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                    <tr>
                       
                        <td>Bus Name</td>
                        <td>Driver Name</td>
                        <td>Route</td>
                        <td>

                            <i class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-edit" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addBusStudent()" style="cursor:pointer;"></i>
                            
                        </td>
                    </tr>
                    <tr>
                       
                        <td>Bus Name</td>
                        <td>Driver Name</td>
                        <td>Route</td>
                        <td>
                            <!--<md-button ng-click="cancel()" class="md-raised md-warn">
                                <i class="icon ion-edit"></i>
                            </md-button>
                           

                            <md-button class="md-raised md-primary">
                                <i class="icon ion-edit"></i>
                            </md-button>-->

                            <i  class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;                           
                            <i class="icon ion-edit"  ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addBusStudent()" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        




    </div>
</div>