﻿<md-bottom-sheet class="md-grid md-bottom-sheet2" layout="column" ng-controller="addMultipleRelatedItems" style="position:fixed;z-index:150">

    <div class="close_icon close_icon2">
        <i class="material-icons" ng-click="closeBottomSheet()">clear</i>
    </div>
    <h1 ng-show="relatedPosts.length==0" class="norelated-posts">No related posts found</h1>
    <md-progress-circular md-diameter="96" md-mode="{{progressMode}}" style="position:fixed !important"></md-progress-circular>
    <md-content class="md-padding container container2" layout="row" layout-padding layout-wrap>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="mb15 category" ng-repeat="post in relatedPosts" ng-if="$index%2==0">
                <md-whiteframe class="md-whiteframe-3dp layout-designs portfolio-box" flex="100" layout layout-align="center center">
                    <md-card>
                        <md-card-header class="title">
                            <div class="title_img pull-left"><img ng-src="{{post.userImage}}" class="circle"></div>
                            <div class="md-item-text pull-left flex-60" flex>
                                <h3>{{post.userName}}</h3>
                                <p>{{post.title}}</p>
                            </div>
                            <div class="pull-right flex-30 text-right" flex>
                                <p>{{post.postedTime}}</p>
                            </div>
                        </md-card-header>

                        <img ng-if="post.fileType == 'image'" ng-src="{{post.src}}"
                             class="md-card-image" alt="Washed Out">
                        <video ng-if="post.fileType == 'video'" controls="" ngf-src="post.src"></video>

                        <md-card-content class="md-container">
                            <h3 class="md-title"><span translate="Layout.Home.Section">Section</span>- {{post.sectionName}}</h3>
                            <h3 class="md-title"><span translate="Layout.Home.Category">Category</span>- {{post.categoryName}}</h3>
                            <span class="md-title post-keyword" ng-if="post.postKeywords.length>0" ng-repeat="keyword in post.postKeywords.split(',')">{{keyword}}</span>

                        </md-card-content>
                    </md-card>

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <a ng-click="saveRelatedItem(post.id)" class="btn">
                                    <img src="../../../images/link2-wf.png" width="60" />
                                </a>
                            </div>

                        </div>
                    </div>
                </md-whiteframe>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="mb15 category" ng-repeat="post in relatedPosts" ng-if="$index%2==1">
                <md-whiteframe class="md-whiteframe-3dp layout-designs portfolio-box" flex="100" layout layout-align="center center">
                    <md-card>
                        <md-card-header class="title">
                            <div class="title_img pull-left"><img ng-src="{{post.userImage}}" class="circle"></div>
                            <div class="md-item-text pull-left flex-60" flex>
                                <h3>{{post.userName}}</h3>
                                <p>{{post.title}}</p>
                            </div>
                            <div class="pull-right flex-30 text-right" flex>
                                <p>{{post.postedTime}}</p>
                            </div>
                        </md-card-header>
                        <img ng-if="post.fileType == 'image'" ng-src="{{post.src}}"
                             class="md-card-image" alt="Washed Out">
                        <video ng-if="post.fileType == 'video'" controls="" ngf-src="post.src"></video>
                        <md-card-content class="md-container">
                            <h3 class="md-title"><span translate="Layout.Home.Section">Section</span>- {{post.sectionName}}</h3>
                            <h3 class="md-title"><span translate="Layout.Home.Category">Category</span>- {{post.categoryName}}</h3>                     
                            <span class="md-title post-keyword" ng-if="post.postKeywords.length>0" ng-repeat="keyword in post.postKeywords.split(',')">{{keyword}}</span>
                        </md-card-content>
                    </md-card>

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <a ng-click="saveRelatedItem(post.id)" class="btn">
                                    <img src="../../../images/link2-wf.png" width="60" />
                                </a>
                            </div>

                        </div>
                    </div>
                </md-whiteframe>

            </div>
        </div>
    </md-content>
</md-bottom-sheet>