﻿
.topbar .md-button.md-icon-button md-icon, button.md-button.md-fab md-icon {
    display: block;
    color: #fff;
}
.topbar .md-default-theme .md-datepicker-input, .md-datepicker-input {
    color: #fff;
}
.topbar .md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: #fff;
}

.topbar .md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
    border-bottom-color: #fff;
}

.topbar .md-default-theme .md-datepicker-input-container.md-datepicker-focused,.md-datepicker-input-container.md-datepicker-input-container.md-datepicker-focused{
border-bottom-color:#fff
}



html.md-default-theme, html, body.md-default-theme, body {
   
    background-color: transparent;
}

body{ background:#f2f5fa;overflow-y: scroll;}
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative !important;
  min-height: 100% !important;
  height: auto !important;
  
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px !important;
    position: initial !important;
    overflow-y: scroll;
    min-height:600px !important;

}
.footer {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:50px;
  background-color:#0d392a;
  z-index:2;
}


.navbar-default {
    background-color:#0d392a;
    border-color: #0d392a;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

#loginForm md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 10px 0;
    vertical-align: middle;
    height:48px;
    width: 100%;
}
.navbar-right .dropdown-menu {   
    top: 38px;
}

/*---login---*/
.bg-color{background:#0d392a;display:inline-block; width:100%;}
.loginLogo{ display:inline-block; padding:20px; margin-bottom:30px;}
.loginLogo img{ max-width:100%;}
.loginimg{display:inline-block; float:left;width:74%; background-size:cover}
.loginimg img{ width:100%;} 
/*.logindetails{float:left; width:30%; padding:30px}*/
.logindetails {
    float: left;
    width: 421px;
    padding:28px;
    position: fixed;
    right: 0;
    background: #0d392a;
    height: 100%;
}
.logindetails h2{ color:#FFFFFF; }
h3{ color:#FFFFFF; }
.logindetails p{ color:#FFFFFF; }
.logindetails label {
    color: #fff;    
}
.loginfooter {
    position: absolute;
    bottom: 0;
    width:auto;
    height: 50px;
    background-color: #0d392a;
    z-index: 2;
    color:#fff;
    padding-left:20%;
     


}
/*---End login---*/
.adminyouser{ display:inline-block;}
.adminyouser i{ display:inline-block; width:20px; height:20px;}
.mainlogo{ display:inline-block;  padding: 2px;}
.logodiv{ position:relative;     width: 170px;}
.logodiv .smallweb {
        color: #fff;
    font-size: 15px;
    top: 23px;
    position: absolute;
    left: 140px;
   
}
.mainlogo img{ max-width:100%; max-height:100%;}
.topbar{ display:inline-block; width:100%; min-height:55px; background:#34aa89;position:relative;  padding: 11px 0;}
.wrapper{ position:relative; width:100%; top:50px; padding-bottom:50px; }
.settings-icons {
    color: #ffffff;
    float: right;
    font-size: 22px;
    padding: 5px;
    background:none;
    border:none;
    margin: 0;
    min-height:30px;
    margin-top:3px;
}
.settings-icons a{
    padding: 0 5px !important;
        color: #fff;
}
.settings-icons .dropdown li a {
    padding: 4px 5px !important;
    border-bottom: solid 1px #ececec;
}
.settings-icons:hover {
    background: rgba(225,225,225, 0.2);
}
.notifications {
    color: #ffffff;
    float: right;
    font-size: 20px;
    padding: 5px;
    margin-top:3px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.navbar-default form{
    position: absolute;
    right: 40px;
    top: 5px;
}
.navbar-inverse .navbar-nav > .open > a {
    background:none !important;
}
.notifications:hover{ color:#FFFFFF; background:rgba(225,225,225, 0.2);border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor:pointer;}
.notifications .btn.focus, .notifications .btn:focus, .notifications .btn:hover {
    color: #fff;
    text-decoration: none;
}
.notifications span{ background: #ff0000 none repeat scroll 0 0;
    border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 17px;    
    text-align: center;
    width: 20px;}
.divscorll{ 
    display: inline-block;  
    width: 100%;
     padding-top: 5px; 
     padding-bottom:50px; 
}
.divheader{    
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc;       
    float: left;   
    padding: 10px;
    position: relative;
    width: 100%;
	margin-bottom:5px;
}
.divheader h2{     
    padding: 0 0 5px 0;
    display: block;
    margin: 0;
    /*font-size: 20px;*/
     font-size: 18px;
}
.selectgate {  display:inline-block; margin:14px 0px;}
.divscorll .d_list{ display:inline-block; width:100%;}
.divscorll .d_list{ display:inline-block; width:100%; padding:0;}
.divscorll .d_list .tile{ display: inline-block;
    list-style: outside none none;
    margin-bottom:5px;
    width: 100%;}
.divscorll .d_list .tile{ background: #ffffff none repeat scroll 0 0;
    border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;  
    float: left;    
    width: 100%;min-height: 155px; position:relative;
    border: 1px solid #ccc;
}

.divscorll .s_waiting .tile{ background: #ffffff none repeat scroll 0 0;
    border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;  
    float: left;    
    width: 100%;min-height:80px; position:relative;
    border: 1px solid #ccc;
    margin-bottom:3px;
}

.divscorll .d_list .norecords{ 
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;  
    float: left;    
    width: 100%;min-height: 156px; position:relative;
    border: 1px solid #ccc;
}

.boxFooter{ position:absolute;    height: 55px; bottom:0; left:0; width:100%; padding:10px 0; border-top:solid 1px #ccc; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; background:#f9fafc;}
.divscorll .d_list .tile a{ display:inline-block}
.namelist{ display:inline-block; width:100%;font-weight: normal;}
.namelist i{ float:left;     -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; width:40px; height:40px;}
	.namelist i img{ max-width:100%; max-height:100%; -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;} 
.namelist {   float: left;
    line-height: 10px;
    padding: 15px 0 0 10px;}
.namelist span small {
    display: block;
    color: #666666;
}
.right{ float:right;}
.btncolor{ background:#2c9477; border:solid 1px #2c9477; color:#FFFFFF}
.btncolor:hover{background:#14563f; border:solid 1px #14563f;color:#FFFFFF  }

.dismissed{ background:#4285F4; border-bottom:solid 3px #4285F4; }
.successfully{background:#34A853; border-bottom:solid 3px #34A853;}
.queued{background:#EA4335;  border-bottom:solid 3px #EA4335;}
.headerbg{background:#fff/*#f9fafc*/;}
.user_forgot{ display:inline-block; width:100%; padding:10px }
.user_forgot a{ padding:0px 5px}
.d_list_checkbox{    cursor: pointer;
    float: right;
    position: absolute;
    right: -42px;
    top:3px;
 }
.topright{
border-color: transparent #0d392a transparent transparent;
    border-style: solid;
    border-width: 0 50px 50px 0;
    float: right;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;}

.divscorll .d_list label {
    display: block;
    font-weight: 700;
    height: 100%;
    margin-bottom: 5px;
    width: 100%;
    position: absolute;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
  margin: 15px 0;
  text-align:center;
  color:#fff;
}
.divscorll .has-scrollbar {
	display: block;
}
.divscorll .nano {
	position : relative;
	width : 102%;
	height : 100%;
	overflow : hidden;
}
.divscorll .nano .content {
	bottom: 0;
    left: auto;
    margin-left: -10px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: -10px !important;
    top: 0;
}
.divscorll .nano .content:focus {
	outline: thin dotted;
}
.divscorll .nano .content::-webkit-scrollbar {
 visibility: hidden;
}
.divscorll .has-scrollbar .content::-webkit-scrollbar {
 visibility: visible;
}
.divscorll .nano > .pane {
	background : #dddddd;
	position : absolute;
	width :7px;
	right :0;
	top : 0;
	bottom : 0;
	visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity :1 !important;
 -webkit-transition : .2s;
 -moz-transition : .2s;
 -o-transition : .2s;
 transition : .2s;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
	border-radius : 0px;
}
.divscorll .nano > .pane > .slider {
	background : #a1acaf;
	position : relative;
	margin : 0;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
	border-radius : 0px;
	width:7px;
}
.divscorll .nano:hover > .pane, .pane.active, .pane.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity : 1 !important;
}

/** End nanoscroller **/


.sidenav {
	width:42px;
	z-index:9999;
	position:fixed;
	height:100%;
	right:-40px;
	top:54px;
	transition:0.3s;
	-webkit-transition:0.3s;
}
.notificationdiv {
    display: inline-block;
    margin-top: -5px;
    padding-bottom: 35px;
}
.sidenav-div {
	width:390px;
    right:0px;
}
.content-sidenav {
	width: 390px;
	background-color: #FFF;
	min-height: 250px;
	padding: 0 0px;	
	position: absolute;
	top: 0;
	height:100%;
	overflow: auto;
	left:100%;
	transition:0.3s;
	-webkit-transition:0.3s;
	 -webkit-box-shadow:0 0px 4px 0 rgba(73, 73, 73, 0.8);
	-moz-box-shadow: 0 0px 4px 0 rgba(73, 73, 73, 0.8);
	-ms-box-shadow: 0 0px 4px 0 rgba(73, 73, 73, 0.8);
	-o-box-shadow: 0 0px 4px 0 rgba(73, 73, 73, 0.8);
}

 
.content-sidenav-div {
	left:0;
}
.sidenavHeader{   background:#34aa89;
    display: inline-block;
    padding:9px 0px 9px;
    width: 100%;}
ul.notifications_list{ display:inline-block;margin:0; width:100%; padding:0px 0px 20px 0px }
ul.notifications_list li{ list-style:none; padding:8px 0px 8px 20px; /*background:#f1f1f1;*/ border-bottom: solid 1px #ccc; min-height:46px; }
ul.notifications_list li:hover{ /*background:#f9fafc;*/ opacity:0.8}



.form-bottom md-input-container.md-default-theme .md-input, md-input-container .md-input {  border-color:#fff; }
.form-bottom md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-default-theme.md-input-resized:not(.md-input-invalid) .md-input, md-input-container.md-input-resized:not(.md-input-invalid) .md-input{ color:#fff; }
.form-bottom md-checkbox .md-label {
 color:#fff;
}
 md-input-container:not(.md-input-invalid).md-input-focused label {
    color:#fff !important;
    border-color:#fff !important;
}
md-input-container.md-default-theme .md-input, md-input-container .md-input {
    border-color: #FFF !important;
    color: #FFF !important;
}
.newaccount {
     display: inline-block;
    background: #3aac8c;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #f3f1f4;
    margin-top:100px;
    color:#fff;
    margin-bottom:60px;
   
 
}
    .newaccount h4 {
     color:#fff;
    }
.newaccount md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color:#fff;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
}

/*.newaccount md-input-container.md-default-theme .md-input, md-input-container .md-input {
    border-color: #fff !important;
    color: #fff !important;
   
}*/
.newaccount md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 10px 0;
    vertical-align: middle;
    height: 50px;
    width: 100%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:transparent !important;
    background-image: none;
    color: rgb(0, 0, 0);
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: #fff;
}
.btn-login{
    padding:10px 20px;
}

.norecord-label {
    text-align: center;
    font-weight: normal !important;
    display: block;
    padding-top: 41px;
}
.close-button {
     color:#fff; 
     font-size:28px;
      cursor:pointer;

}

.nanoauto{
    /*height:140px !important;*/
}
.btnexport {
    float: right;
    /*margin-top: 20px;*/
     margin-top: 12px;
    position: relative;
    z-index: 2;
    margin-right: 16px;

}
.btnnext {
    
    margin-top: 10px;
    position: relative;
    z-index: 2;
    margin-bottom:10px;
   
}
.waitingcount {
     float: right;
    background: #4285F4;
    color: #fff;
    border-radius: 50px;
    padding: 4px;
    width: 27px;
    height:27px;
    text-align: center;
    font-size: 14px;
}



.inQueueCountColor{
        background: #EA4335 !important;
}
.PickupCountColor{
        background: #34A853; !important;
}



md-progress-circular {
	position: fixed !important;
	right: 0;
	left: 0;
	margin: auto;
	top: 0%;
	color: #1ea2ed !important;
	border-color: #1ea2ed !important;
    width:100% !important;
    height:100% !important;
    z-index:1031;
}
md-progress-circular:after {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    content:'';
}
md-progress-circular svg {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.circular-progress {
	top: 80%;
}

.hide-loader{
    display:none;
}

.forgotbg{
    background:#fff;
    display:block;
    width:100%;
    height:100%;
}
.fordiv{
    display:inline-block;
    padding-top:15px;
}
.newaccount1{
    display: inline-block;
    background: #3aac8c;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #f3f1f4;
    /* margin-top: 100px; */
    color: #fff;
    margin-bottom: 60px;
    width:100%;
}
.newaccount1 md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
    width: 100%;
}
.form-control{
 padding:6px 5px;

}
.f_date {
  color:#fff; 
}
.topbar .md-icon {
    color:#fff;
}
.gradediv {
    float:left;
    width:52%;
}
.sectiondiv {
    float:left;
    width:40%;
}
span .sectiondiv {
 padding-left:0px;
}

.error .md-toast-content{
	background-color: #EA4335 !important;
}
md-toast {
	position: fixed !important;
	bottom: 0px;
	overflow:inherit;
    padding:0px !important
}
#staff{
    position:static !important;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{
    padding:7px !important;
}
.select-notifications .form-control {
    width:32%;
    display:inline-block;
}
.select-notifications1{
    padding-left:0px;
    padding-right:5px;
}
.select-notifications1 .form-control {
    width:100%;
    display:inline-block;
}

.md-toast-animating { 
    overflow:visible !important;
}
.statusdiv{
    float:left;
    width:50%;
}
.text-red{
    color:#EA4335;
    font-weight:600;

}
.textredmargins{
    font-style: italic;
    font-weight: normal;
    height: 34px;   
    line-height: 16px;
   
}
.datediv {  float:left; width:44%; padding:0px 3px;}
.datcolor {  color:#0d392a;}
#noteDiv{
    margin-top:20px;
}
.text-green{
    color:#34A853;
    font-weight:600;
}
em{
    font-style:normal;
}
.heading-dashboard{
    font-size:22px;
}


md-progress-circular.md-default-theme path, md-progress-circular path {
    stroke:#34A853;
}
.tilteText {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size:20px;
}
.no-result {
	text-align: center;
}

	.no-result td {
		padding: 20px !important;
	}

	.no-result th {
		display: none;
	}
    .mt-10{
        margin-top:10px;
    }
    .waiting-note{
        font-size:16px;
        margin-left:3px;
        margin-bottom:16px;
    }
  .nano>.content {
     position: relative !important;
     max-height:400px !important;
}
  .mt-20{
      margin-top:20px;
  }
 .norecord-label1
  {
    text-align: center;
    font-weight: normal !important;
    display: block;
    padding-top: 25px;
  }
 .font18{
     font-size:18px !important;
 }
 .h2Bold{
     font:bold;
     text-align:center;
 }
 md-dialog-content h2 {
     font-size:16px !important;
     max-width:400px;
     margin-bottom:0px;
         line-height: 24px;
 }
 md-dialog .md-dialog-content {
    padding: 10px 10px 0px 10px !important;
}
.login-title{
    text-align:center;
    font-size:22px;
    margin:0px;
    padding-bottom:30px;
}

.zoomIn { 

    animation-duration: 3s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

 @keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}


 .text-inpremises{
     /*color:#fff;
    background:#EA4335;*/
     display:inline-block;
     width:100%;
     border-left:solid 5px #EA4335;
 }
 .text-nearby{
     /*color:#fff;
      background:#4285F4;*/
       display:inline-block;
       width:100%;
       border-left:solid 5px #4285F4;
 }
.text-pickedup { 

  /*color:#fff;
  background:#34A853;*/      
       display:inline-block;
       width:100%;
       border-left:solid 5px #34A853;
}
 .md-success-minwidth{
     width:412px;
 }
 md-dialog{
     max-width:36% !important;
 }

 .logoutDiv{
     margin-top:5px;
     display: inline-block;
     margin-right:10px;
     padding:5px;

 }

 .logoutDiv a{
     color:#fff;
     font-size:18px;
 }

 .logoutDiv:hover {
    color: #FFFFFF;
    background: rgba(225,225,225, 0.2);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

 md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: transparent;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color:#0d392a;
    background: #0d392a;
}


 #newstudent   md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 10px 0;
    vertical-align: middle;
    height:48px;
    width: 100%;
}
 #newstudent .layout-gt-sm-row {
         flex-direction: column;
 }
 md-dialog.student-dialog-width {
    max-width: 60% !important;
    background: rgb(58, 172, 140);
    overflow: visible;
    width: 500px;
}