﻿
@{
    ViewData["Title"] = "Student History";
}
@section scripts{

   
<script src="~/app/studentStatus/studentStatusApp.js"></script>
<script src="~/app/studentStatus/studentStatusReport.js"></script>

}


@section jsCode {
    angular.bootstrap(document.getElementById("studentStatus"), ['studentStatus']);
}


<div id="studentStatus">
    <div ng-view></div>
</div>
