﻿<md-dialog class="student-dialog-width" id="newstudent">
    <form id="frmStudent" name="frmStudent">
        <md-dialog-container>
            <md-dialog-content layout-padding>
                <div ng-controller="saveStudent" ng-cloak>
                    {{title}}
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>

                        <md-input-container>
                            <label>Title</label>
                            <input ng-model="user.title">
                        </md-input-container>

                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="user.email" type="email">
                        </md-input-container>
                        <md-input-container>
                            <label>Title</label>
                            <input ng-model="user.title">
                        </md-input-container>

                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="user.email" type="email">
                        </md-input-container>

                    </md-content>



                    <input type="button" class="btn btncolor btnexport" id="btnSave" name="btnSave" ng-click="addStudent()" value="Save" />
                    <input type="button" class="btn btncolor btnexport" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </md-dialog-content>
        </md-dialog-container>
    </form>
</md-dialog>