﻿

<div ng-controller="studentList"  ng-cloak>



    <div class="topbar">

        <div class="container">

            <form class="form-horizontal offset-xs-0" name="frmwaiting" id="frmwaiting" novalidate>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selGrade" id="selGrade" ng-model="selectedGrade" class="form-control"
                                ng-change="getSectionByGradeId(selectedGrade)"
                                ng-options="item.GradeId as item.GradeName for item in grades" required>
                            <option value="">Select Grade</option>
                        </select>

                        <div ng-show="frmwaiting.selGrade.$invalid && (!frmwaiting.selGrade.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.selGrade.$error">
                            <div ng-message="required" class="text-danger">Please select grade.</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selSection" id="selSection" ng-model="selectedSection" class="form-control"
                                ng-change="getStudents(selectedGrade,selectedSection)"
                                ng-options="item.SectionId as item.SectionName for item in sections" required>
                            <option value="">Select Section</option>
                        </select>

                        <!--<div ng-show="frmwaiting.selSection.$invalid && (!frmwaiting.selSection.$pristine || !isSectionSelected || isSubmitWaiting )" ng-messages="frmwaiting.selSection.$error">-->
                        <div ng-show="!isSectionSelected && isSubmitWaiting">
                            <div ng-message="required" class="text-danger">Please select section.</div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <a class="btn btn-danger btncolor" ng-click="sendWaiting(selectedGrade,selectedSection,frmwaiting)">Show</a>
                        
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-4">
                    
                     

                        <input type="button" class="btn btncolor btnexport" id="btnRegister" name="btnRegister" ng-click="addStudent()" value="Add Student" />
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="container">

        <div class="row">
            <div class="col-md-4 col-sm-4 xsdiv"><h2 class="font18">{{title}}</h2></div>
      
            <div class="col-md-4 col-sm-4 xsdiv"></div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Grade</th>
                                <th>Section</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr data-ng-repeat="item in students|startFrom:CurrentPage*pageSize | limitTo:pageSize">

                                <td>{{item.FirstName}}</td>
                                <td>{{item.LastName}}</td>
                                <td>{{item.Grade}}</td>
                                <td>{{item.Section}}</td>
                                <td>
                                    <button type="button" class="btn btncolor" id="btnRegister" name="btnRegister" ng-click="register(item.Id)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>

                                    <button type="button" class="btn btn-danger" id="btnDelete" name="btnDelete" ng-click="delete(item.Id,item.FirstName,$index)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btncolor" id="btnGuardian" name="btnGuardian" ng-click="guardians(item.Id)">
                                        Guardians
                                        <!--<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>-->
                                    </button>

                                    <!--<input type="button" class="btn btn-danger" id="btnRegister" name="btnRegister" ng-click="delete(item.id)" value="Delete" />-->
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>



            </div>

        <div ng-show="students.length > 0" class="text-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btncolor btnnext" ng-disabled="CurrentPage == 0" ng-click="CurrentPage=CurrentPage-1">
                            Previous
                        </button>
                        {{CurrentPage+1}}/{{numberOfPages()}}
                        <button class="btn btncolor btnnext" ng-disabled="CurrentPage >= students.length/pageSize - 1" ng-click="CurrentPage=CurrentPage+1">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>