﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="logoutDiv">
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <span class="glyphicon glyphicon-off" data-toggle="tooltip" title="Logout"></span>
            </a>
        </div>

            <nav class="navbar navbar-inverse settings-icons" id="loginSection">

                <div class="container-fluid">

                    <div class="dropdown">
                        <a class="dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" title="Settings" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @*<li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>*@

                            @if (User.IsInRole("Admin"))
                            {
                                @*<li>
                                        @Html.ActionLink("Staff Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                    </li>*@

                                <li><a href="/staffList">Observer List</a></li>

                            }

                            <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { id = "changePasswordLink" })</li>

                            <li><a href="\notificationHistory">Notification History</a></li>
                            <li><a href="\studentStatusSummary">Student Status Summary</a></li>
                            <li><a href="\students">Students</a></li>


                            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
                        </ul>
                    </div>
                </div>
            </nav>

    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
